.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 8px;
}

.grid-item {
  padding: 2px;
}

.grid-item.hidden > * {
  opacity: 0;
}

small {
  color: var(--vscode-disabledForeground);
}

.sprite-outer {
  padding: 0;
  margin-bottom: 4px;
}
