body {
  padding: 12px;
}

h4 {
  margin-block: 4px;
}

.sprite-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 12px;
}

.sprite {
  image-rendering: pixelated;
  background-repeat: no-repeat;
  transform-origin: center;
}

.rarity-normal {
  color: var(--vscode-textSeparator-foreground);
}

.rarity-silver {
  color: var(--vscode-icon-foreground);
}

.rarity-gold {
  color: var(--vscode-activityWarningBadge-background);
}
