h4 {
  text-align: center;
}

progress {
  appearance: none;
  height: 8px;
  display: block;
  margin: auto;
}

progress::-webkit-progress-bar {
  background-color: var(--vscode-inlineEdit-modifiedChangedLineBackground);
  border-radius: 12px;
}

progress::-webkit-progress-value {
  background-color: var(--vscode-editorOverviewRuler-addedForeground);
  border-radius: 12px;
}

label {
  display: block;
  text-align: center;
  margin-top: 8px;
  font-size: smaller;
}
